@import "../../assets/style";

.mainContainer {
  display: flex;
  gap: $primary-font-size * 2;
  background-color: white;
  padding: $primary-padding * 5;
  margin: $primary-margin;
  border-radius: $border-radius * 2;
  overflow: hidden;

  @media (max-width: 1040px) {
    padding: ($primary-padding * 2)
  }

  @media (max-width: 445px) {
    padding: 0;
    margin: ($primary-margin * 2) 0;
    background: transparent;
  }
}