// colors
// $background-gradient: linear-gradient(180deg, #EDF6F6 0%, #B0B6B6 100%);
$primary-color: #ECF5F5;
$container-color: #ECF5F5;
$menu-main-color: #5198AE; // | burger
$white-color: white;
$black-color: black;

// cards colors
$practice-color: #E5AA57;
$practice-hover-color: #e49a34;
$practice-card-color: #F9C47A;
$mini-card-color: #E0E8E8;
$main-card-color: #B9CCDB;
$main-card-corner: #95AABB; // placeholder | sidebar arrow 
$back-color: #2E3337;
$back-hover-color: #454a4e;

// sizes
$primary-size: 200px;
$main-container-radius: 60px;

// fonts sizes
$primary-font: 16px;