@import '../../../assets/style';

.back {
  cursor: pointer;
  display: flex;
  align-items: center;

  &_title {
    margin-left: $primary-margin;
    font-weight: 700;
    font-size: $primary-font-size * 1.5;
    color: $back-color;
    transition: $transition;
    user-select: none;

    &:hover {
      color: $back-hover-color;
    }
  }
}