@import '../../assets/style';

.wrapper {
  width: $primary-size * 3;
  height: $primary-size * 1.2;
  position: relative;
  perspective: $primary-size * 10;
}

.card,
.cardTranslate {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $border-radius;
  border-radius: $border-radius;
  backface-visibility: hidden;
  transition: $transition * 5;
}

.card {
  background: $main-card-color;

  &_active {
    @extend .card;
    transform: rotateY(180deg);
  }
}

.cardTranslate {
  background: $practice-card-color;
  transform: rotateY(180deg);

  &_active {
    @extend .cardTranslate;
    box-shadow: 0px 6px 22px -10px rgba(0, 0, 0, 0.3);
    transform: rotateY(360deg);
  }
}

.cardCorner {
  cursor: pointer;
  position: absolute;
  width: $primary-size * 0.25;
  height: $primary-size * 0.25;
  right: $primary-padding * 1.5;
  bottom: $primary-padding * 1.5;
  background: $main-card-corner;
  border-radius: $border-radius / 2;
  transition: $transition * 1.5;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
  }

  &_active {
    @extend .cardCorner;
    background: $practice-color;
  }
}

.cardInput,
.cardTranslateInput {
  outline: none;
  width: $primary-size * 2.5;
  text-align: center;
  border: none;
  background: none;
  font-weight: 700;
  font-size: $primary-font-size * 1.5;
  color: $back-color;
  @extend %extend-text-ellipsis;

  &::placeholder {
    color: $main-card-corner;
  }
}

.cardTranslateInput {
  &::placeholder {
    color: $practice-color;
  }
}