@import '../../assets/style';

.main-page {
  max-width: 750px;
  padding: 50px 30px;
  background: #ECF5F5;
  border-radius: 60px;
  height: 100%;

  &__title {
    margin-left: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    transition: 0.2s;
  }

  @media (max-width: 445px) {
    background: transparent;
  }
}

.main-page__wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

textarea {
  padding: 22px 52px;
  flex-grow: 1;
  height: 380px;
  border: none;
  overflow: auto;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  resize: none;
  background: #ECF5F5;
  line-height: 160%;
  border-radius: 40px;

  & ::placeholder {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #95AABB;
  }
}