@import '../../assets/style';

.main-page {
  max-width: 750px;
  padding: 50px 30px;
  background: $primary-color;
  border-radius: 60px;
  height: 100%;
  position: relative;

  &__wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__burger {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 25px 25px;
  }

  &__title {
    margin-left: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    transition: 0.2s;
    user-select: none;
  }

  @media (max-width: 992px) {
    padding: 90px 25px 0 25px;
  }

  @media (max-width: 445px) {
    background: transparent;
  }
}

.burger-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  padding-top: 70px;
  top: 0px;
  left: 0;
  z-index: 1;
}

textarea {
  padding: 22px 52px;
  flex-grow: 1;
  height: 380px;
  border: none;
  overflow: auto;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  resize: none;
  background: $primary-color;
  line-height: 160%;
  border-radius: 40px;

  & ::placeholder {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $main-card-corner;
  }
}