@import '../../assets/style';

.mainPage {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $primary-font-size * 2;
  padding: $primary-padding * 3;
  background: $primary-color;
  border-radius: $border-radius * 1.5;
  height: 100%;
  position: relative;

  &_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: $primary-font-size;
    column-gap: $primary-font-size * 1.5;
  }

  &_burger {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: $primary-padding * 3;
    padding: $primary-padding * 3;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    font-weight: 700;
    font-size: $primary-font-size * 2;
    transition: $transition;
    user-select: none;
  }

  @media (max-width: 992px) {
    padding: $primary-padding;
    padding-bottom: $primary-padding * 3;
    padding-top: $primary-padding * 9;
  }

  @media (max-width: 445px) {
    background: transparent;
  }
}

.burgerWrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  padding-top: $primary-padding * 7;
  top: 0;
  left: 0;
  z-index: 1;
}

.textArea {
  padding: $primary-padding * 3;
  width: 90%;
  border: none;
  overflow: auto;
  outline: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: $primary-font-size * 1.5;
  resize: none;
  background: white;
  border-radius: $border-radius;
  transition: $transition * 5;

  & ::placeholder {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $main-card-corner;
  }

  &:focus {
    height: 380px;
  }
}