@import '../../assets/style';

.input__wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 7px;
  padding: 20px 15px;
  width: 100%;
  background: #ECF5F5;
  border-radius: 50px;
  transition: background 0.3s;

  &_active {
    @extend .input__wrapper;
    background: #5198AE;
    color: #fff;
  }

  &:hover {
    background: $main-card-corner;
  }
}

.category-input {
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: none;
  color: #000000;
  width: 50%;
  text-align: center;
  transition: background 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &_active {
    @extend .category-input;
    color: #fff;
  }

  &:focus,
  input:focus {
    outline: none;
  }
}