@import '../../assets/style';

.input__wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 7px;
  padding: 20px 15px;
  width: 100%;
  background: $primary-color;
  border-radius: 50px;
  transition: background 0.3s;

  &:hover {
    background: $main-card-corner;
  }

  &_active {
    @extend .input__wrapper;
    background: $menu-main-color;
    color: $white-color;

    &:hover {
      cursor: auto;
      background: $menu-main-color;
    }
  }
}

.category-input {
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: none;
  color: $black-color;
  width: 50%;
  text-align: center;
  transition: background 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &_active {
    @extend .category-input;
    color: $white-color;
  }

  &:focus,
  input:focus {
    outline: none;
  }
}