* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #EDF6F6 0%, #B0B6B6 100%) no-repeat;
  height: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 445px) {
  body {
    background: #ECF5F5;
  }
}