@import '../../assets/style';

.home-page__label {
  margin-left: 40px;
  font-weight: 700;
  font-size: 32px;
  transition: 0.2s;
  color: $back-color;

  &:hover {
    color: $practice-hover-color;
  }
}

.home-page__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}